.header {
    display: flex;
    height: var(--header-height);
    align-items: center;
    justify-content: center;  
    position: relative;
    &__icon {
        height: 100%;
    }
    &__search-bar {
        width: var(--search-width);
        opacity: 0.9;
        padding: 0 1rem;
        height: 100%;
        background-color: var(--clr-black);
        border: none;
        color: var(--clr-light-mute);
        text-transform: uppercase;
        border-bottom: 2px solid var(--clr-card-list) ;
        &:focus {
            outline: none;
            border-bottom: 2px solid blue ;
        }
        &::placeholder {
            opacity: 0.8;
            color: var(--clr-light-mute)
        }
    }
    &__search-bar:focus ~ &__results-list {
        display: flex;
    }
    &__result-title {
        padding: 0.5rem 1rem;
        background-color: var(--clr-card-list);
        text-transform: uppercase;
        font-style: italic;
    }
    &__results-list {
        z-index: 10;
        display: none;
        flex-direction: column;
        box-shadow: 0 5px 10px black;
        position: absolute;
        list-style: none;
        top: var(--header-height);
        max-height: 30rem;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }
    &__results-list:hover {
        display: flex;
    }
    &__search-result {
        display: block;
        text-decoration: none;
        color: var(--clr-light-mute);
        padding: 1rem 2rem;
        background-color: var(--clr-card-main);
    }
    &__search-result:hover {
        background-color: var(--clr-card-main-hover);
    }
    &__link {
        position: absolute;
        left: 0.8rem;
        top: 0.5rem;
        align-self: flex-start;
        height: 70%;
    }
}