.inline-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    cursor: pointer;
    &__img:hover, &__title:hover {
        transform: scale(1.10);
    }
}