.inline-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    &__content {
        display: flex;
        align-items: center;
        width: 90%;
        gap: 0.5rem;
        color: var(--clr-black);
        background-color: var(--clr-card-main);
        padding: 0.3rem 1rem;
        border-radius: 25px;
    }
    &__content:hover {
        background-color: var(--clr-card-main-hover);
    }
    &__buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 10%;
    }
}