body {
    font-family: var(--ff-source);
    font-size: var(--fs-regular);
    &::-webkit-scrollbar {
        display: none;
    }
    background-color: var(--clr-black);
    color: var(--clr-text);
    font-size: var(--fs-text);
    overflow: hidden;
}

.app {
    min-width: 100vw;
    min-height: 90vh;
    overflow: hidden;
    margin-bottom: 10rem;
}
