body {
    font-family: var(--ff-source);
    font-size: var(--fs-regular);
    &::-webkit-scrollbar {
        display: none;
    }
    background-color: var(--clr-black);
    color: var(--clr-text);
    font-size: var(--fs-text);
}

.app {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 10rem;
    gap: 3rem;
    height: var(--main-height);
}