body {
    font-family: var(--ff-source);
    font-size: var(--fs-regular);
    &::-webkit-scrollbar {
        display: none;
    }
    background-color: var(--clr-black);
    color: var(--clr-text);
    font-size: var(--fs-text);
}

.app {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto; 
    gap: 3rem;
    width: 70%;
}