:root {
    --header-height: 7vh;
    --main-height: calc(100vh - var(--header-height));

    --search-width: 20rem;

    --clr-card-list: #34495e;
    --clr-card-main: #41b883;
    --clr-card-main-hover: #41b8839d;
    --clr-black-light: rgb(32, 32, 32);
    --clr-black: #181818;
    --clr-text: rgba(235, 235, 235, 0.64);
    --clr-light-mute: #f2f2f2;

    --ff-source: 'Roboto', sans-serif;
    --fs-title: 1.5rem;
    --fs-subtitle: 0.7rem;
    --fs-article-title: 1.3rem;
    --fs-card-title: 1rem;
    --fs-regular: 0.8rem;
    --fs-text: 1.2rem;
}