
.container {
    background-color: var(--clr-black-light);
    overflow-y: auto;
    height: var(--main-height);
    position: relative;
    &__lists {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: 2rem;
        transition: filter .2s;
        &.blur {
           filter: blur(2px)
        }
    }
}