
.container__lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: auto;
    padding: 3rem 10rem 3rem;
    gap: 3rem;
    height: var(--main-height);
    background-color: var(--clr-black-light);
}